<h2>Edit Configuration</h2>

<%- form_tag admin_config_path, :method => :put do -%>

  <fieldset>
    <%- @configs.each do |conf| -%>
      <%= label_tag(conf, (config.meta[conf][:name]))  %>
      <%= behavior_tag(conf) %> <br />
    <%- end -%>
  </fieldset>
  
  <%= submit_tag "Save" %>
  
<%- end -%>